* {
  box-sizing: border-box;
  background-color: #2a2e34;
  color: #e9eaec;
}
.color-one{
  color: #e9eaec;
}
html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
  
}

section {
  width: 90%;
  max-width: 40rem;
  margin: auto;
}

.altezza{
  height: 70vh;
}

.battle-log{
  background-color: #bbbbc5;
  height: 60vh ;
  width: 70vh ;
  overflow-y: scroll;
}
#log, ul ,li, span{
  color:#2a2e34;
  background-color:#bbbbc5 ;
}
.healthbar {
  width: 100%;
  height: 40px;
  border: 1px solid #575757;
  margin: 1rem 0;
  background: #bbbbc5;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;

}

.healthbar__value {
  background-color: #007552;
  width: 100%;
  height: 100%;
}

.container {
  text-align: center;
  padding: 0.5rem;
  /* margin: 1rem auto; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
}

#monster h2,
#player h2 {
  margin: 0.25rem;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  width: 300px;
	height: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: #444a4e;
  font: inherit;
  border: 1px #444a4e;
  background-color: #444a4e;
  padding: 1rem 2rem;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.322);
}


button, button span {
  
	transition: 300ms;
}

button .text {
  background-color: #444a4e;
	transform: translateX(100px);
	font-weight: bold;
}

button .icon {
  background-color: #444a4e;
	position: absolute;
	border-left: 1px solid #444a4e;
	transform: translateX(230px);
	height: 50px;
	width: 40px;
	display: flex;
	align-items:center;
  justify-content: center;
  
}

button i {
	width: 0px;
	
}

button:hover {
	background: #444a4e;
}

button:hover .text {
	color: transparent;
}

button:hover .icon {
	width: 150px;
	border-left: none;
	transform: translateX(50px);
}

button:focus {
  outline: none !important;
}

#heal:active{
  background-color: #007552;
}
button:active #heal{
  background-color: #007552;
}
#attack:active{
  background-color: red;
}
button:active #attack{
  background-color: red;
}

#surrender:active{
  background-color: orange;
}
button:active #surrender{
  background-color: orange;
}
/* button:active .icon #heal{
  background-color: #007552;
} */
.gold {
	background-image: url("https://img.freepik.com/free-photo/roughly-gold-painted-concrete-wall-surface-background_53876-110786.jpg?size=626&ext=jpg&ga=GA1.2.1183630002.1639180800");
  color: #2a2e34;
  font-weight: bold;
	background-size: 150%;
	background-position: left;
	transition: 1s;
  display: flex;
	align-items:center;
  justify-content: center;
}

.gold:before {
  
	background: rgba(0,0,0,0.6);
	border-radius: 25px;
	position: absolute;
	transition: 500ms;
}

.gold:hover:before {
  
	background: rgba(0,0,0,0);
	text-shadow: 1px 1px 1px black;
}

.gold:hover {
  background-image: url("https://img.freepik.com/free-photo/roughly-gold-painted-concrete-wall-surface-background_53876-110786.jpg?size=626&ext=jpg&ga=GA1.2.1183630002.1639180800");
	background-position: -10px;
	box-shadow: 0px 0px 10px rgba(232, 218, 26, 0.5);
}

.gold:focus {
	outline: none;
}

#log ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#log li {
  margin: 0.5rem 0;
}

.log--player {
  color: #7700ff;
}

.log--monster {
  color: #da8d00;
}

.log--damage {
  color: red;
}

.log--heal {
  color: green;
}

/* immaginni */
.foto-mostro{
  background: url(https://images.saymedia-content.com/.image/t_share/MTc0NDU2ODEyNzQwMjI0NjQ2/top-50-coolest-enemies-and-monsters-in-video-games.jpg);
  background-position:center;
  background-size: cover;
  width: 12rem;
  height: 12rem;
  border: solid 3px;
  border-color:#3f3f3f;
  border-radius: 50%;
}
.foto-eroe{
  background: url(https://i.ytimg.com/vi/BpkVbTJtwpM/maxresdefault.jpg);
  background-position:left;
  background-size: cover;
  width: 12rem;
  height: 12rem;
  border: solid 3px;
  border-color:#3f3f3f;
  border-radius: 50%;
}